{{ form_start(form) }}
<table class="table table-striped table-light mt-4 border border-secondary-rounded text-center">
    <thead>
        <tr>
            <th>{{ form_row(form.idAnimalPorsolt ) }}</th>
            <th>{{ form_row(form.nomUsuel) }}</th>
            <th>{{ form_row(form.puce) }}</th>
        </tr>
    </thead>
</table>
<button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>

{{ form_end(form) }}
