{#{% extends "base.html.twig" %}#}

{#{% block title '' %}#}
{# {% for produit in produits %}#}
{#     <tr>#}
{#         <td><a href="{{ path('etude.show', {id: produit.id, slug: produit.slug}) }}">{{ produit.formattedNumero}}</a></td>#}
{#         <td>{{ produit.groupe }}</td>#}
{#         <td>{{ produit.groupe }}</td>#}
{#         <td>{{ produit.groupe }}</td>#}
{#         <td>{{ produit.groupe }}</td>#}
{#         <td>{{ produit.groupe }}</td>#}
{#     </tr>#}
{# {% endfor %}#}