{% extends 'base.html.twig' %}

{% block body %}
   {#{% include 'pages/arrow.html.twig' %} #}
    <table class="table table-striped table-light mt-4 border border-secondary-rounded text-center">

        <tbody>
        {#<div class="container">
            <div class="row flex">
                {{ include ('produit/_form.html.twig', {button: 'Editer'}) }}
            </div>
        </div>#}
        {% for produit in produits %}
            <tr>
                <td><a href="{{ path('groupe.show', {id: produit.id, slug: produit.slug}) }}">{{ produit.groupe }}</a></td>
                <td>{{ produit.idProduitPorsolt }}</td>
                <td>{{ produit.nbreAnimaux }}</td>
                <td>{{ produit.voieAdmin }}</td>
                <td>{{ produit.datePremierPrelevement|date("d/m/Y") }}</td>
                <td><a href="{{ path('admin.produit.edit', {id: produit.id}) }}" class="btn btn-secondary">Editer</a></td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    <div class="container">
    <a href="{{ path('admin.produit.new') }}" class="btn btn-primary">creer</a>
    </div>
{% endblock %}

