{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        {% include '/arrow/arrowEtude.html.twig' %}
    </div>
        <tbody>
            <div class="container">
                <div class="row flex">
                    {{ include("admin/produit/index.html.twig") }}
                </div>
            </div>
        </tbody>
    <div class="container d-flex mt-5" >
        <div class="row d-md-">
            <div class="col md-8">
                <button class="btn btn-light mr-1">Tout</button>
                <button class="btn btn-light mr-1">Aucun</button>
                <a href="{{ path('prelevement.index', {id: etude.id, slug: etude.slug}) }}" class="btn btn-primary mr-1">Suivant</a>
{#                <a href="{{ path('prelevement.index', {id: produit.id, slug: produit.slug}) }}" class="btn btn-primary mr-1">Suivant</a>#}

            </div>
            <div class="col-md-4">
                <form method="post" action="{{ path('admin.etude.delete', {id: etude.id}) }}" style="display:inline-block" onsubmit="return confirm('Êtes vous sûr?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ etude.id) }}">
                    <button class="btn btn-danger mr-1">Supprimer</button>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

